@import "../../globals.scss";

.home {
  max-width: 100%;
  @include transition(background-color 0.2s);
  overflow: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__title-wrapper {
    margin: 3rem 0 1rem 5rem;
    color: white;
    a {
      color: white;
      @include transition(color 0.1s);
    }
  }

  &__heading {
    font-size: 10rem;
    font-weight: 300;
    margin-left: -0.5rem;
  }

  &__description {
    font-weight: 100;
  }
  
  &__repos {
    font-weight: 100;
    margin-top: 1rem;
    font-size: 1.5rem;
    
    a {
      text-decoration: none;
      margin-right: 3rem;
    }
  }

  &__tiles-wrapper {
    flex-grow: 2;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 4rem 4rem 8rem;
    margin-bottom: 1rem;
  }
}
